.App {
    text-align: center;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.button2 {
    height: 50px;
    display: center;
    position: center;
}

.button1 {
    height: 50px;
    position: right;
}
